@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for Webkit browsers */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f5f2eb; 
}

::-webkit-scrollbar-thumb {
  background: #d6d3d1; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a29e; 
}